/* Positioning */
.margin-top-0 * {
	margin-top: 0px;
}

.margin-top-50 {
	margin-top: 50px;
}

/* Styles */
.navbar-brand {
	height:44px;
}

#startup-logo {
	height:50%;
	width:50%;
	padding-bottom: 50px;
}

#uottawa-logo {
	width:15%;
	height:15%;
	margin-top: 20px;
}

#video-title {
	padding-bottom:20px;
	padding-top:80px;
	color:white;
}

#video-background {
	padding-top:30px;
}

.intro-table-fourth {
	background-image: url('../img/table-4.png');
}

#about {
	position: relative;
	width: 100%;
	color: white;
	background: rgba(28, 36, 65, 0.93);
	background: url('../img/header.jpg');
	background-size: cover;
	padding-bottom: 100px;
	
}

#push-up-divs {
	position:relative;
	top:-320px;
}

#second-cut {
	bottom:240px;
	position: relative;
	z-index: 1;
}

#intro-tables-container {
	position:relative;
	z-index:2;
}

#startup-weekend-description {
	padding-top: 20px;
}

#startup-weekend-description2 {
	text-align:left; 
	background-color:white; 
	padding:30px; 
	border-radius: 10px; 
	font-size:25px;
}

#what-is-startup {
	padding-top:200px;
}

#services {
	padding-top:90px;
}

/* Footer */

#schedule-background {
	padding: 0px 0 40px;
	background: url('../img/footer.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

#schedule-background .trial-button {
	overflow: hidden !important;
	margin: 40px 0;
}

#schedule-background .open-blink {
	content: ' ';
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 20px;
	border-radius: 50%;
	background-color: #4caf50;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

#schedule-background .open-blink:before {
	content: ' ';
	position: absolute;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 30px;
	height: 30px;
	opacity: 0.1;
	border-radius: 50%;
	background-color: #4caf50;
}

#schedule-background .opening-hours {
	margin-top: 60px;
}

#schedule-background .bottom-footer {
	margin-top: 150px;
}

#schedule-background .social-footer {
	padding: 0;
	list-style: none;
}

#schedule-background .social-footer li {
	display: inline-block;
	margin: 0 10px;
}

#schedule-background .social-footer li a {
	font-size: 24px;
	color: #fff;
}

#schedule-background .social-footer li:hover a {
	color: #00a8ff;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.super-light {
	font-weight:100;
}

#event-schedule-title {
	padding-bottom: 100px;
}

.btn-block {
	padding: 35px 30px;
	color:white;
	border-radius: 5px;
	font-size:25px;
}

#schedule-button {
	padding-bottom: 20px;
}

.schedule-table {
	margin-top: 30px;
}

.avatar {
	width:50%;
	height:50%;
}

.social-icons {
	padding:25px;
	transition: all .2s ease-in-out;
	cursor: pointer;

}

.social-icons:hover {
	transform: scale(1.5); 
}

.social-icon-wrapper {
	position:absolute;
    left:0;
    right:0;
    top:15%;
    margin-left:auto;
    margin-right:auto;
}

#leader-description {
	padding-left: 20px;
	padding-right: 20px;
}

.location {
	margin: 40px 0;
}


.textContainer { 
    height: 430px; 
    line-height: 400px;
}

.textContainer address {
	font-size:23px;
	text-align: left;
	padding: 25px;
	border-style: solid;
	border-width:1px;
	border-color: rgb(221, 221, 221);
    vertical-align: middle;
    display: inline-block;
}

.share-icons {
	color:#19B1FF;
}

.service {
	cursor: pointer;
}

.ticket-type {
	height:175px;
	text-align: center;
	padding:30px 50px 40px 50px !important;
	font-size:20px;
	font-weight: 400;
	background-color: #ffffff;
	color:black;
	line-height: 28px;
	border: thick solid #bbbbbb;
	border-width: 1px;
	borde-style: solid;
}